<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<targets>
		<target xsi:type="File" name ="informationFile" fileName ="${basedir}/info.log"/>
		<target xsi:type="File" name="warningFile" fileName="${basedir}/logWarnings.log"/>
		<target xsi:type="File" name="errorFile" fileName="${basedir}/logErrors.log"/>
	</targets>

	<rules>
		<logger name="Habr.WebAPI.ExceptionFilter" level="Warning" writeTo="warningFile" />
		<logger name="Habr.WebAPI.ExceptionFilter" level="Error" writeTo="errorFile" />
		<logger name="Habr.*" level ="Information" writeTo="informationFile"/>
	</rules>
</nlog>